@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Основные цвета */
    --color-dark-blue: 222 15% 16%; /* #22262d */
    --color-light-grey: 220 46% 91%; /* #e1e7f4 */
    --color-grey-border: 220 50% 86%; /* #d2ddf3 */
    --color-grey: 220 15% 55%; /* #79869f */
    --color-white: 220 66% 97%; /* #f4f7fc */
    --color-main-accent: 220 100% 55%; /* #2479ff */
    --color-secondary-accent: 210 100% 50%; /* #007aff */
    --color-warning-red: 340 100% 54%; /* #ff0e66 */
    --color-emerald: 158 100% 43%; /* #00d88d */
    --color-emerald-secondary: 158 100% 48%; /* #0effab */
    --color-purple: 290 100% 65%; /* #da46ff */

    /* Градиенты */
    --color-gradient-blue-start: 190 100% 54%; /* #0edbff */
    --color-gradient-blue-end: 220 100% 50%; /* #0e6bff */

    --color-gradient-purple-start: 290 100% 65%; /* #da46ff */
    --color-gradient-purple-end: 220 100% 55%; /* #428bff */

    --color-gradient-green-start: 158 100% 45%; /* #00e394 */
    --color-gradient-green-end: 220 100% 50%; /* #0e6bff */

    --color-gradient-red-start: 220 100% 50%; /* #0e6bff */
    --color-gradient-red-end: 340 100% 54%; /* #ff0e66 */

    --color-gradient-dark-start: 222 15% 16%; /* #22262d */
    --color-gradient-dark-end: 220 40% 26%; /* #203d6a */

    /* Линейные градиенты */
    --gradient-blue: linear-gradient(
      to right,
      var(--color-gradient-blue-start) 0%,
      var(--color-gradient-blue-end) 100%
    );
    --gradient-purple: linear-gradient(
      to right,
      var(--color-gradient-purple-start) 0%,
      var(--color-gradient-purple-end) 100%
    );
    --gradient-green: linear-gradient(
      to right,
      var(--color-gradient-green-start) 0%,
      var(--color-gradient-green-end) 100%
    );
    --gradient-red: linear-gradient(
      to right,
      var(--color-gradient-red-start) 0%,
      var(--color-gradient-red-end) 100%
    );
    --gradient-dark: linear-gradient(
      to right,
      var(--color-gradient-dark-start) 0%,
      var(--color-gradient-dark-end) 100%
    );

    /* Обновленный Tailwind-палитра */
    --background: 220 66% 97%; /* Белый фон */
    --secondary-background: 220 46% 91%;
    --foreground: 222 47% 11%;
    --card: 220 66% 97%;
    --card-foreground: 222 47% 11%;
    --popover: 220 66% 97%;
    --popover-foreground: 222 47% 11%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 340 100% 54%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 5%;
    --radius: 0.5rem;

    /* Графики */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Сайдбар */
    --sidebar-background: 220 46% 92%;
    --sidebar-foreground: 240 5% 26%;
    --sidebar-primary: 240 6% 10%;
    --sidebar-primary-foreground: 220 66% 97%;
    --sidebar-accent: 240 5% 96%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rdp-vhidden {
  @apply hidden;
}
